* {
  margin: 0;
}
html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
  height: 100%;
  font-family: 'roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

@keyframes fundo-animado {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100 0;
  }
}

body {
  display: grid;

  background: black url('images/backgroud.jpg') center/cover;
  place-items: center;
  background-repeat: repeat-x;

  animation: fundo-animado 5s linear infinite;
}

main {
  display: block;
  background: url('images/cracha1.svg') no-repeat center/cover;
  margin-top: -25%;
  width: 23.43rem ;
  height: 50.75rem;
  animation: cracha 1s ease-in-out;
}
@keyframes cracha {
  1% {
    transform: translateY(-100vh);
  }
}

.content {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--gray);
}
.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}
.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

A {
  color: var(--gray);
  text-decoration: none;

  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}
p {
  margin-top: 2rem;
}
ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}
